openapi: 3.0.0
info:
  title: TerraformCloud
  description: "This is the Terraform Cloud API. You can find more information in the [documentation](https://www.terraform.io/cloud-docs/api-docs)"
  version: 0.0.3
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

externalDocs:
  description: TerraformCloud Documentation
  url: https://www.terraform.io/cloud-docs/api-docs

security:
  - ApiKeyAuth: []

servers:
  - url: "https://app.terraform.io/api/v2"
    description: Terraform Cloud API Service

tags:
  - name: cost-estimates
    description: Cost Estimate actions
  - name: applies
    description: Apply actions
  - name: organizations
    description: Organization actions
  - name: plans
    description: Plan actions
  - name: runs
    description: Run actions
  - name: task-stages
    description: Task stage actions
  - name: task-results
    description: Task result actions
  - name: users
    description: User actions
  - name: workspaces
    description: Workspace actions

paths:
  /account/details:
    $ref: './paths/UserAccountDetail.yaml'
  /applies/{apply_id}:
    $ref: './paths/ApplyShow.yaml'
  /cost-estimates/{cost_estimate_id}:
    $ref: './paths/CostEstimateShow.yaml'
  /organizations:
    $ref: './paths/OrganizationsList.yaml'
  /organizations/{organization_name}:
    $ref: './paths/OrganizationShow.yaml'
  /organizations/{organization_name}/workspaces:
    $ref: './paths/WorkspacesList.yaml'
  /organizations/{organization_name}/workspaces/{workspace_name}:
    $ref: './paths/OrganizationShowWorkspace.yaml'
  /plans/{plan_id}:
    $ref: './paths/PlanShow.yaml'
  /policy-checks/{policy_check_id}/actions/override:
    $ref: './paths/PolicyCheckOverrideAction.yaml'
  /runs/{run_id}/actions/apply:
    $ref: './paths/RunApplyAction.yaml'
  /runs/{run_id}/actions/cancel:
    $ref: './paths/RunCancelAction.yaml'
  /runs:
    $ref: './paths/RunCreate.yaml'
  /runs/{run_id}/actions/discard:
    $ref: './paths/RunDiscardAction.yaml'
  /runs/{run_id}:
    $ref: './paths/RunShow.yaml'
  /runs/{run_id}/task-stages:
    $ref: './paths/RunTaskStagesList.yaml'
  /runs/{run_id}/policy-checks:
    $ref: './paths/RunPolicyChecksList.yaml'
  /task-results/{task_result_id}:
    $ref: './paths/TaskResultShow.yaml'
  /workspaces/{workspace_id}:
    $ref: './paths/WorkspaceShow.yaml'
  /workspaces/{workspace_id}/actions/lock:
    $ref: './paths/WorkspaceLock.yaml'
  /workspaces/{workspace_id}/actions/unlock:
    $ref: './paths/WorkspaceUnlock.yaml'
  /workspaces/{workspace_id}/runs:
    $ref: './paths/WorkspaceRunsList.yaml'

components:
  securitySchemes:
    ApiKeyAuth:
      description: Terraform Cloud Authentication
      type: apiKey
      in: header
      name: Authorization
